@import "/etc/nixos/home-manager/desktop/themes/catppuccin/mocha.css";


/* Common stuff
 */
* {
  font-family: JetBrains Mono Font;
  font-size: 18px;
}


/* Main container
 */
#waybar { background: @crust; color: @text; }


/* Menu elements
 */
#clock,
#workspaces,
#backlight,
#pulseaudio,
#battery,
#cpu,
#memory,
#network
#idle_inhibitor,
#custom-swaylock { margin: 3px 5px; padding: 4px; }

#custom-swaylock,
#workspaces,
#battery,
#cpu,
#network { padding-right: 10px; }


/* Cause it's the last one
*/
#custom-swaylock { margin-bottom: 10px; }


/* 
 */
#clock,
#workspaces button,
#custom-swaylock,
#idle_inhibitor,
#battery,
#backlight,
#cpu,
#memory,
#pulseaudio,
#tray { background-color: transparent; color: @subtext0; }


/* Idle inhibitor
 */
#idle_inhibitor { margin: 5px; padding: 4px; }


/* Toggled off or deactivated stuff
 */
#pulseaudio.muted,
#idle_inhibitor.deactivated,
#custom-swaylock { color: @surface1; }


/* Hover
 */
#clock:hover,
#workspaces button:not(.active):hover,
#custom-swaylock:hover,
#idle_inhibitor:hover,
#backlight:hover,
#pulseaudio:hover { color: @text; }


/* Battery states
 */
#battery.charging, #battery.plugged { color: @sky; }
#battery.warning:not(.charging) { color: @red; }



/* Network states
 */
#network.disconnected { color: @red; }


/* Clock
 */
#clock { font-weight: bold; padding: 4px 2px; }


/* Workspaces
 */
#workspaces button.active,
#idle_inhibitor.activated { color: @sky; }


/* System tray
 */
#tray { margin: 5px 5px 10px; padding: 4px; }



/* #custom-music, { */
  /* background-color: @surface0; */
  /* padding: 0.5rem 1rem; */
  /* margin: 5px 0; */
/* } */






/* #custom-music { */
  /* color: @mauve; */
  /* border-radius: 1rem; */
/* } */



