// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview
//
include "./binds.kdl"
include "./input.kdl"
include "./noctalia.kdl"
include "./startup.kdl"
include "./workspaces.kdl"


// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// 
output "eDP-1" {
    scale 1.2
    variable-refresh-rate on-demand=true
}


// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous
// 
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd

cursor {
  // xcursor-theme "breeze_cursors"
  xcursor-size 48
  hide-when-typing
  hide-after-inactive-ms 3000
}

environment {
  DISPLAY ":0"
}

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}

overview {
  zoom 0.5
  workspace-shadow {
    off
  }
}


// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
// 
layout {
  background-color "transparent"
  center-focused-column "never"
  gaps 5

  // If you leave the brackets empty, the windows themselves will decide their initial width.
  default-column-width { proportion 0.5; }

  focus-ring {
    active-gradient from="#80c8ff" to="#223366" angle=210 relative-to="workspace-view"
    inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    width 1
  }

  preset-column-widths {
    proportion 0.5
    proportion 0.66667
  }
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layer-Rules
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}


layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}


// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
// 
animations {
  // off
}

